<div id="edit_form" class="form_user">  	
	<legend>Nuevo Laboratorio:</legend>
	<div class="row-horizontal">
	  	<%= simple_form_for @laboratory ,  :url => branch_laboratories_path(@branch, @laboratory),:html => { :class => "form-horizontal" } do |f| %>
	  	<%= render :partial => "form", :locals => {:f => f}%>
	  	<hr />
	  	<%= link_to "Cancelar", branch_laboratories_path(@branch), :class => "btn btn-secundary btn-form"%>
	    <%= f.submit "Guardar", :class => "btn btn-primary btn-form"%>
	    <% end %>
	</div>
</div>

