<legend>Stock</legend>
<div class="row-fluid">
<table class="table table-striped">
	<thead>
  <tr>
    <th>Nombre Producto</th>
    <th>Sucursal</th>
    <th>Cantidad</th>
  </tr>
</thead>
<tbody>
<% @stocks.each do |stock| %>
  <tr>
  	<td><%= stock.product.name %></td>
  	<td><%= stock.branch.name %></td>
  	<td><%= stock.size %></td>
    <td><%= link_to 'Modificar', edit_stock_path(stock) , :class => "btn btn-primary"%></td>
  </tr>
<% end %>
</tbody>
</table>
