<div id="edit_form" class="form_project">  	
	<legend>Editar Cliente </legend>
  	<%= simple_form_for @client ,  :html => { :class => "form-horizontal" } do |f| %>
  	<%= render :partial => "form", :locals => {:f => f}%>
  	<hr />
    <%= link_to "Cancelar", clients_path, :class => "btn btn-secundary btn-form"%>
    <%= f.link_to "Actualizar", :class => "btn btn-primary btn-form"%>
    <% end %>
</div>