<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Results">  	
    <Table>
    	<Row>
            <Cell><Data ss:Type="String"> Fecha </Data></Cell>
			<Cell><Data ss:Type="String"> Tipo   </Data></Cell>
			<Cell><Data ss:Type="String"> Monto    </Data></Cell>
			<Cell><Data ss:Type="String"> Descripcion    </Data></Cell>
    	</Row>
    	<% @balances.each do | balance | %>
		      <Row>
			      <Cell><Data ss:Type="String"><%= balance.balance_date %></Data></Cell>
			      <Cell><Data ss:Type="String"><%= balance.show_mov %></Data></Cell>
			      <Cell><Data ss:Type="String"><%= balance.size %></Data></Cell>
			      <Cell><Data ss:Type="String"><%= balance.description %></Data></Cell>
		     </Row>
         <% end %>
      
    </Table>
  </Worksheet>
</Workbook>