<legend>Sucursal <%= @branch.name %> - Listado de Productos - <%= link_to "Lista de Precios", download_products_path(@branch, :format => "xls"), :class => "btn btn-primary pull-right" %></legend>
<div>
	<%= render :partial => "index"%>
</div>



